

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <nav aria-label="breadcrumb row">
        <ol class="breadcrumb ">
            <li class="breadcrumb-item col-sm-"><a href="">Home</a></li>            
            <li class="breadcrumb-item  col-sm-9 text-left active" aria-current="page"> Vote Result</li>
            
            <a href="/report" class=" float-right col-sm-2 btn btn-sm btn-primary">
                <i class="fas fa-mail-bulk text-white-100"></i> Poll Result</a>
        </ol>        
    </nav>
    <hr>


    
        <div class="container">            
            
            <!-- begin voter's vote result-->
            <div class="myVote">
            <% positions.forEach(position => {
                Votes.forEach(vote => {
                    if(position._id == vote.p_id) { %>                            
                        <div class="card shadow-sm ml- mr- mb-">
                            
                            <div class="card-header  py-">
                                <h5 class="m-0 font-weight-bold text-dark text-center ">
                                    <strong>
                                        <%= position.name  %>
                                    </strong>
                                    <input type="hidden" id="text_pId" value="<%= position._id  %>">
                                </h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                                                                    
                                <% candidates.forEach(candidate => { %>
                                    
                                        <% if(vote.p_id == candidate.p_id && vote.c_id == candidate._id){ %>
                                            <div class="col-md-">
                                                <div class="card shadow-lg m-">                                                    
                                                    <div class="card-body">
                                                        <!--input type="hidden" name="cId" value="<%= candidate._id %>"-->
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <img src="/images/candidates/<%= candidate.photo %>" class="img-fluid" 
                                                                    alt="candidate's Image" srcset="" style="border-radius: 10px;">
                                                            </div>
                                                            <div class="col-md-8">
                                                                <div class="card-header text-center ">
                                                                    <div class="col-sm-11">
                                                                        <Strong><%= candidate.name %></Strong>                                                                    
                                                                    </div>
                                                                </div>
                                                                <div class="form-control">
                                                                    <label class="label">
                                                                        Gender: <%= candidate.gender %>
                                                                    </label>
                                                                </div>
                                                                <div class="form-control">
                                                                    <label class="label">
                                                                        Dept: <%= candidate.dept %>
                                                                    </label>
                                                                </div>
                                                                <div class="form-control">
                                                                    <label class="label">
                                                                        D.O.B: <%= candidate.dob %>
                                                                    </label>
                                                                </div>
                                                                <div class="form-control">
                                                                    <label class="label">
                                                                        Phone: <%= candidate.phone %>
                                                                    </label>
                                                                </div>
                                                                <div class="form-control">
                                                                    <label class="label">
                                                                        Email: <%= candidate.email %>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer">
                                                        <div class="row">
                                                            <a href="#" data-toggle="modal" data-target="#manifestoModal<%= candidate._id %>" 
                                                                class="btn btn-primary btn-icon-split mb-2 pr-4 pl-4 col-sm-12" >
                                                                <span class="icon text-white-50">
                                                                    <i class="fas fa-book-open"></i>
                                                                </span>
                                                                <span class="text">Manifesto</span>
                                                            </a>
                                                            <div class="modal fade" id="manifestoModal<%= candidate._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                                                aria-hidden="true">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h4 class="modal-title text-center" id="exampleModalLabel"><strong><%= candidate.name %>'s Manifesto</strong> </h4>
                                                                            <button class="close h3" type="button" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">×</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="text text-justify">
                                                                                <%= candidate.manifesto %>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                                                
                                        <%  } 
                                        
                                });
                                %>
                                    
                                </div>
                            </div>
                            <div class="card-footer">                            
                                
                            </div> 
                        </div>
                    <% }
                });
            }); %>
            </div>
            <!-- end voter's vote result-->

            <!-- begin election result-->
            <div class="ElectionResult">
                <%- include('../statistics') %>
            </div>
            <!-- end election result-->
            
        </div>
    

</div>
<!-- /.container-fluid -->

<script src="/js/voter.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- chart plugins -->
<script src="/vendor/chart.js/Chart.min.js"></script>

<!-- custom charts scripts -->
<script src="/js/demo/chart-area-demo.js"></script>
<script src="/js/demo/chart-pie-demo.js"></script>